<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Achievement Tracker</a>
        <ul class="nav-links">
            <li><a href="/games">Games</a></li>
            <li><a href="/achievements">Achievements</a></li>
            <li><a href="/leaderboard">Leaderboard</a></li>
        </ul>
    </div>
</nav> 